/*
** controlpanel
*/
div.control-panel div.control-panel-item { float: right; }
.control-panel-fieldset { clear: right; }


/*
** event
*/
/*  event calendar table styles  */
.event-calendar td { text-align: left; }
.event-calendar th.prev {
  text-align: right;
  border-width: 1px 1px 1px 0px;
}
.event-calendar th.next {
  text-align: left;
  border-width: 1px 0px 1px 1px;
}
/*  days of the week header cells */
.event-calendar td.days { border-width: 0 0 1px 1px; }
}
/*  floating day number div  */
.event-calendar div.day { float: left; }
}
/*  individual node container  */
.event-calendar div.event { margin: 0.25em 0.25em 0.5em 0; }
}
.event-calendar .content {
  border-right: solid 2px #ddd;
  padding-right: 5px;
  border-left: 0;
  padding-left: 0;
}
.event-calendar div.type {
  margin-left: 0;
  margin-right: 5px;
}
.event-calendar div.links,
.event-calendar .start,
.event-calendar div.info {
  padding-left: 0;
  padding-right: 3px;
}
.event-calendar .end,
.event-calendar .ongoing {
  padding-right: 9px;
  padding-left: 0;
}
/*  individual node view styles  */
span.event-timeleft { text-align: left; }
span.event-nodetype {
  padding: 0px 5px 0px 0px;
  text-align: left;
  float: left;
}
.ical-link { text-align: left; }


/*
** graphstat
*/
.graph-container { align: right; }


/*
** img_assist
*/
/* Properties Window */
.img_assist #preview { padding: 5px 5px 5px 10px; }
.img_assist #alignment { text-align: right; }
/* Header Frame */
#header-uploading, #header-properties, #header-browse { float: right; }
#header-startover, #header-cancel {
  float: left;
  text-align: left;
}


/*
** simplenews
*/
.sn-item {
  right: 25px;
  top: -15px;
}
.sn-feed-icon { text-align: left; }


/*
** tagadelic
*/
.graph-container { align: right; }
.wrapper.tagadelic {
  margin-left: 1em;
  margin-right: 0;
}


