@import "drupal_rtl.css";
@import "modules_rtl.css";

body {
  color: #000;
  background: #fff;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 84%;
  padding: 0;
  margin: 0;
  direction: rtl;
}
h1 { font-size: 1.3em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1em; font-weight: bold;}
h4, h5, h6 { font-size: 0.9em; font-weight: bold;}
p, .book .body {
  padding: 0 0 0.5em 0;
  margin: 0;
  text-indent: 1.6em;
  font-size: 1em;
  line-height: 1.6em;
}
pre {
  background: #ddd;
  border: 1px solid #aaa;
  padding: 0.75em 1.5em;
  font-size: 12px;
}
a { text-decoration: none; }
a, a:link { color: #333; }
a:visited { color: #777; }
a:hover, a:focus { color: #03f; }

a:active { color: #606; }
form {
  padding: 0;
  margin: 0;
}
blockquote {
  border: 1px 0px #ddd solid;
  margin: 0.5em 1em;
  padding: 0.3em;
  font-style: italic;
}
code {
  font-size: 1em;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
}
img { border: 0; }
ol, ul, dl { position: relative; }
#header {
  position: relative;
  padding: 1em 0 0 0;
  margin: 0;
}
#header img { 
  margin: 0 1em 0 0.75em;
  float: right;
}
#header a:visited { color: #333; }
#header a:hover { background: transparent; } 
#site-name {
  font-size: 2.5em;
  padding: 25px 0 0.2em 0;
  padding-right: 1em; 
  margin: 0;
}
#site-slogan {
  color: #999;
  display: inline;
  font-weight: bold;
  font-size : 1.2em;
  padding: 0 1.2em 0 0;
  margin: 0;
}
#content {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
td.main-content {
  vertical-align: top;
  padding: 0em 1em;
}
td.sidebar {
  vertical-align: top;
  padding: 0;
  width: 200px;
}
.sidebar .block {
  background: #fff;
  border: solid 1px #999;
  margin: 0 5px 5px 5px;
  padding: 0 5px 5px 5px;
}
.sidebar .block h2 {
  padding: 3px 0 0 0;
  margin: 0;
  font-size: 1em;
}
.sidebar .block h3 {
  margin: 0 0 0.3em 0;
}
.sidebar .block .xml-icon {
  text-align: center;
}
.sidebar .block-search input.form-text {
  width: 100px;
  padding: 1px;
  margin-left: 5px;
}
.sidebar .block-search button.form-submit { 
  width: 60px;
  font-size: 12px;
}
.sidebar .block a, 
.sidebar .block { color: #777; }
.sidebar .block a:visited, .sidebar .block h2, .sidebar .block h3 { color: #999; }
.sidebar .block a:hover { color: #03f; }
.more-link {
  float: none;
  text-align: left;
  font-style: italic;
}
.block .more-link a { color: #333; }
.block .more-link a:hover { color: #03f; }
.item-list {
  margin: 0.25em 0 0 0;
  font-size: 0.9em;
}
.item-list ul {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;
  width: 99%; /* otherwise Internet Explorer doesnt make english links clickable */
}
.item-list ul li {
  margin: 0 0 0.25em 0;
  padding: 0 1em 0 0;
  line-height: 1.3em;
  list-style: none;
}
#search {
  color: #000;
  background: #fff;
  margin: 0;
  padding: 0;
  float: left;
  width: 200px;
}
#search .form-text {
  margin-left: 3px;
  padding: 3px;
}
#search .form-submit {
  padding: 2px;
}
#top-nav {
  padding: 0;
  margin: 0 0 1.5em 0;
}
#top-nav ul {
  margin: 0;
  padding: 2px 0.5em 2px 0.5em;
}
#primary {
  font-size: 1.2em;
  border-top: solid 1px #999;
}
#secondary {
  text-align: left;
  font-size: 1.1em;
}
#primary li {
  margin-right: 2px; 
  padding: 0;
  display: inline;
  list-style-type: none;
}
#secondary li {
  margin-left: 5px; 
  padding: 0;
  display: inline;
  list-style-type: none;
}
#primary a {
  color: #111; 
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 0 3px;
}
#primary a:hover { color: #03f; }
#secondary a {
  color: #333; 
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#secondary a:hover { color: #03f; }
#primary a.active, #primary a.active:hover, #secondary a.active, #secondary a.active:hover { color: #ccc; }
.breadcrumb {
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  height: 1em;
}
.main-content .node .content, .comment .content, .book .body {
  line-height: 1.5em;
}
.main-content .node .content a, .comment .content a, .book .body a { border-bottom: 1px solid; }
.main-content .node, .book {
  margin: 0 1em 2em 1em;
}
.main-content .content-title {
  font-size: 1.5em;
  margin: 0 0 0.6em 0;
}
/* changed the font size and margin to be smaller */

.main-content .node h2.title, .main-content h2 {
  padding: 0;
  margin: 0 0 0.25em 0;
  font-size: 1.3em;
}
.main-content .node .info {
  color: #999;
  padding: 0 0 0.2em 0;
  margin: 0;
  font-size: 0.9em;
}
.main-content .node .links, .main-content .node .terms {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
}
.main-content .node .terms {
  color: #999;
  font-weight: normal;
  text-align: left;
}
.main-content .sticky { 
  border: 1px solid #eee;
  padding: 0.5em;
}
.links a.read-more {
  font-style: italic;
  font-size: 1.2em;
}
.main-content .node .content {
  padding: 0;
  margin: 0;
}
.node .content ol, 
.node .content dl, 
.node .content ul { 
  width: 90%; /* otherwise Internet Explorer doesnt make english links clickable */
  padding: 0 0.8em; 
} 
.node .content ol ol, 
.node .content ol ul,
.node .content ul ol, 
.node .content ul ul { 
  width: 85%;
} 
#mission {
  color: #000;
  background: #eee;
  border: solid 1px #999;
  padding: 5px 10px;
  margin: 0 0 1.6em 0;
  font-size: 1.1em;
  text-indent: 0;
  width: auto;
}
.main-content .box {
  border: 1px solid #eee;
  margin-bottom: 0.5em;
}  
.main-content .box .content {
  padding: 0.5em;
}
.main-content .box h2 {
  padding: 0.5em;
  margin: 0;
  font-size: 1.2em;
  text-align: right;
}
.comment {
  border-top: solid 1px #eee;
  border-right: solid 1px #eee;
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ddd;
  padding: 1em;
  margin: 1.5em 0;
}
.comment-folded {
  padding: 0.5em;
  margin: 1.5em 0;
}
.comment-new .new {
  color: #4d0;
  text-align: left;
  font-size: 1.1em;
  display: block;
  padding-bottom: 0.5em;
  width: 100%;
}
.comment .content, .comment .content p {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
  text-indent: 0;
}
.comment .title {
  font-weight: bold;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: 0.5em;
}
.comment .title, .comment .title a.active {
  color: #444;
  background: #fff;
}
.comment .author {
  color: #333;
  font-size: 0.9em;
  padding: 0.1em 0.75em 0.3em 0;
}
.comment .links {
/*  color: #333; */
  padding: 0.75em 0 0 0;
  margin: 0;
}
#footer {
  color: #666;
  background: #fff;
  border-top: solid 1px #777;
  padding: 1em 1em 1em 1em;
  font-size: 0.9em;
  text-align: center;
}
#footer p {
  text-indent: 0;
  margin-bottom: 1em;
}
.xml-icon {
  text-align: center;
}
fieldset { border: 1px solid #999; }
.form-submit {
  margin: 0;
}
.form-item {
  margin: 3px 0;
  padding: 0.3em 0;
}
.form-radio, .form-checkbox {
  background: transparent;
  border: 0;
}
.main-content .box .content .form-item textarea {
  width: auto;
}
input.form-text, input.form-password {
  border: solid 1px #ddd;
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
}
input, textarea {
  background: transparent;
  color: inherit;
  border: 1px solid #777;
}
input:focus, textarea:focus {
  background: transparent;
  border: 1px solid #03f;
}
button.form-submit {
  border: solid 1px #ddd;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
h3.form-title {
  text-align: right;
}
form .form-item .title  {
  border: 0;
  border-bottom: #ddd solid 1px;
  color: #777;
  background: transparent;
  margin-bottom: 0.5em;
  padding: 0.3em 0;
  text-align: right;
}
select {
  background: #eee;
  color: #000;
  margin: 1px 5px;
}
.container-inline {
  margin: 0 0 1.6em 0;
}
.container-inline div {
  display: inline;
}
#pager {
  text-align: center;
}
#pager div {
  padding: 0.5em;
}
.main-content li {
  padding-bottom: 0.25em;
}
#message {
  background: #fff;
  padding: 2em;
  margin: 1em 2em;
}
li.leaf {
  list-style-type: square;
}
div.picture { 
  border: 0;
  float: right;
  margin: 0 0 0.3em 1em;
}
br.clear {
  clear: both;
}
.breadcrumb, .main-content .content-title, .links a.read-more { color: #111; }
.links a.read-more:hover { color: #03f; }
.box { border: 1px solid #eee; }
.box h2 { color: #999; }
.marker, .error { color: #f00; }
.ok { color: #080; } 
.path a, .path a:visited { color: #777; }
.tabs li .active, .tabs li .active:hover  {
  color: #ccc;
  background: #fff;
}

.calendar td, .calendar th { border-color: #eee; }
.calendar .day-normal { background: #fff; }
.calendar .day-future { background: #fff; }
.calendar .day-today { background: #333; color: #fff; }
.calendar .day-today a { color: #fff; }
.calendar .day-selected { background: #555; color: #fff; }
.calendar .day-link { background: #ddd; color: #fff; }


ul.galleries { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.galleries li { 
  background-color : #eee;
  border: 1px #ccc solid;
  margin: 1em 0;
  padding: 1em;
}

ul.galleries li img { 
  position: relative;
  float: right;
  padding: 0 0 0 0.5em;
  margin: 0 0 0.5em 0.5em;
}

ul.galleries li p.count { 
  clear: both;
}

ul.galleries h3 { 
  font-size: 1.2em;
  margin : 0 0 0.5em 0;
  padding : 0;
}

ul.images { 
  list-style-type : none;
  margin : 0;
  padding : 0;
}

ul.images li { 
  float : right;
  margin : 1em;
  height: 130px;
  width: 130px;
}

/* ----------------------------------------------------------------------------------------------------- */
/* Extra */
.status { border: 2px solid #6e2; }
.error { border: 2px solid #f00; }

/* Comments and Overrides */
.main-content .box {
  border: 1px solid #aaa;
  margin-bottom: 1em;
}
.main-content .box .item-list ul li { margin: 0.5em; }
td.main-content {
  vertical-align: top;
  padding: 0 10px; /* padding tables in em gets borked on IE */
}

/* note that there are few things that got changed for example .node h2 became .node h2.title
border of #messages was removed, for its childeren status/error will have the border
*/